<div ng-show="authenticated">
	<h1>Your current addresses</h1>
	<table st-table="addresses" st-safe-src="rowCollection" class="table table-striped">
	  <tr ng-repeat="add in addresses">
	  	<td>{{ add.id }}</td>
	    <td>{{ add.number }}</td>
	    <td>{{ add.street }}</td>
	    <td>{{ add.city }}</td>
	    <td>{{ add.postcode }}</td>
	    <td>{{ add.country }}</td>
	    <td>{{ add.startDate | date:'dd-MMMM-yyyy' }}</td>
	    <td>{{ add.endDate | date:'dd-MMMM-yyyy'}}</td>
	    <td>{{ add.type }}</td>
	    <td>
	    	<button ng-click="editAddress(add.id)" class="btn"><span class="glyphicon glyphicon-edit"></span>  Edit</button>
	    	<button ng-click="deleteAddress(add.id)" class="btn"><span class="glyphicon glyphicon-remove"></span>  Delete</button>
		</td>
	  </tr>
	</table>
	
	<hr/>
	<form novalidate>
		<table >
		<tr >
			<td width="250">
			    Property number/name:<br>
			    <input type="text" ng-model="address.number">
			</td>
			<td>
			    Street:<br>
			    <input type="text" ng-model="address.street">
		    </td>
		</tr>
		<tr>
		    <td>
		    	City/Town:<br>
		    	<input type="text" ng-model="address.city">
		    </td>
		    <td>
		    	Postcode:<br>
		    	<input type="text" ng-model="address.postcode">
		    </td>
		</tr>
		<tr>
		    <td>
		    	Country:<br>
		    	<input type="text" ng-model="address.country">
		    </td>
		    <td>
		    	
		    	Address type:<br>
		    	<div ng-init="address.type=0">
		    		<input type="radio" ng-model="address.type"   value="0"> Home <input type="radio" ng-model="address.type" value="1"> Office
		    	</div>
		    </td>
		</tr>
		<tr>
		    <td>
			    Start date:<br>
		    	<input type="date" ng-model="address.startDate">		    	
			</td>
		    <td>   
		    	End date:<br>
			    <input type="date" ng-model="address.endDate">
		   </td>
		   </tr>
		</table>
	    <br>
	    <button class="btn btn-success" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span>  Reset</button>
	    <button type="submit" class="btn btn-success" ng-click="submit()" ng-disabled="error || incomplete"><span class="glyphicon glyphicon-save"></span>  Save Address</button>	    
  	</form>
	
</div>
<div  ng-show="!authenticated">
	<p>Login to see your addresses</p>
</div>